<div class="card text-white bg-primary post-list">
  <div class="card-header flex-row justify-space-between "></div>
  <div class="card-body">
</div>
<div class="posts">
  {{#each posts as |post|}}
  <article class="card">
    <div class="card-header flex-row justify-space-between">
      <h2 {{id}}>{{title}}
       <p>{{post_detail}}</p>
      </h2>
      <div>
        Posted by {{user.name}} on {{format_date date_created}}
      </div>
    </div>
    <div class="card-body">
      {{body}}
    </div>
  </article>
  {{/each}}
</div>