 <h2>Your comments are welcome - {{user.name}}</h2>
 {{#if logged_in}}
  </form>
  </div>
</div> 
 <div class="row mt-2"></div>
<div class="post card">
  <div class="card-header">
  <div class="post card">
  <div class="card-header">
 <div class="col-md-4"></div>
  	<h4 class="post-title ">{{title}}</h4>
	<p class="post-title ">{{post_detail}}</p>
	<p>Posted by {{user.name}} on {{format_date date_created}}</p>
	<div class="row mt-2"></div>
	  	{{/if}}
		<h4>Comments</h4>
		{{#each comments}}
		<div class="">
			<p class="card text-white bg-primary post-list ">{{comment_detail}}</p>
			<p class=" "><span>~</span>Created by {{user.name}} on {{format_date date_created}}<span>~</span></p>
		</div>
		{{/each}}
  	<form  class= "form-label  new-comment-form card-body">
  	<textarea id='new-comment-detail' name="comment-detail"
	placeholder="Add a Comment"
	cols="100"
	rows="2"></textarea>
	</div>
	<button class="btn btn-outline-primary" type="submit">Add Comment</button>
	<button type="button" id="delete-btn" class="btn btn-outline-danger">Delete Post</button>
  </form>
  </div>
 	<div class="card text-white bg-primary post-list">
  <div class="card-header">
    
<script src="/js/delete.js"></script>
<script src="/js/comments.js"></script>



	





	
		